<div class="row" style="margin-top: 120px">

	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

	</div>

	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" align="center" style="margin-top: 60px;">
		<img src="../assets/question.gif">
	</div>

	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="center">
		<h2 align="center">
			What is this?
		</h2>

		<h3>
		This application majorly focuses on reducing the long queues at the vendor's workplace and provides an easy interface to the vendor for managing his/her queues. 
		<br><br>It also focuses on its customers, where they can view queue statuses and pre-book visiting appointments.
		</h3>
	</div>

	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

	</div>

</div>

	<br> <br>

<div class="row">

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" align="center"  style="margin-top: 60px;">
			<img src="../assets/vend.png">
		</div>

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="center">
			<h2>
				If you are a customer..
			</h2>

			<h3>
			You have an interface to pre-book appointments remotely from your hood and check the status of appointments. 
			<br><br>Using the app, you can manage your departure time from your home; thereby reaching the vendor's place on time.
			</h3>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

		</div>

</div>

		<br><br>

<div class="row">

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" align="center"  style="margin-top: 60px;">
			<img src="../assets/cust.png">
		</div>

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="center">
			<h2>
				If you are a vendor..
			</h2>
			<h3>
			An application where a vendor can start a queue, remotely from his place and manage it for accepting appointments and registrations for services provided at his workplace. 
			</h3>
		</div>

		<br><br> 

</div>