<div class="row">

    <br><br><br>

    <div class="row">
        <div class="col s12 m4 l2"></div>

        <div class="col s12 m4 l8">
            <div class="chip hoverable amber">About</div>
            <div class="chip hoverable amber">Introduction</div>
            <div class="chip hoverable amber">Customer</div>
            <div class="chip hoverable amber">Vendor</div>
            <div class="chip hoverable amber">Help</div>

            <br>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 l2"></div>

        <div class="col s12 m4 l8">
            <div class="row">
                <div class="col s12">
                    <div class="card hoverable">
                        <div class="card-content black-text center-align">
                            <span class="card-title">About EasyWait</span>
                            <div class="left-align">
                                <p>This application majorly focuses on reducing the long queues at the vendor's workplace and provides an easy interface to the vendor for managing his/her queues.</p>

                                <br>
                                <p>It also focuses on its customers, where they can view queue statuses and pre-book visiting appointments.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card teal hoverable">
                        <div class="card-content white-text center-align">
                            <span class="card-title">For Customers</span>
                            <div class="left-align">
                                <p>You have an interface to pre-book appointments remotely from your hood and check the status of appointments.</p>

                                <br>

                                <p>Using the app, you can manage your departure time from your home; thereby reaching the vendor's place on time.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card hoverable">
                        <div class="card-content black-text center-align">
                            <span class="card-title">For Vendors</span>
                            <div class="left-align">
                                <p>An application where a vendor can start a queue, remotely from his place and manage it for accepting appointments and registrations for services provided at his workplace.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col s12 m4 l2"></div>
        </div>

        <br><br><br>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>
    </div>
</div>
