<div class="row">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

	</div>

	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="background-color:rgba(0,150,136,0.5);">

		  	<!-- Column 1 -->		
	      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

	      		<img src="../assets/rsz_details.png" style="margin-top: 40px">

	      </div>

	        <!-- Column 2 -->
	      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="center">

	      		<h3 style="margin-top: 20px;"> 

	      			Queue ID: {{this.queue_id}} 

	      		</h3>

	      		<h3 style="margin-top: 20px;"> 

	      			Queue Position: {{this.queue_position}} 

	      		</h3>

	      		<h4 *ngIf = 'accepting_appointments' style="margin-top: 20px;">

	      			Book an appointment

  					<button class = "btn btn-success" (click)="onClick()">Book</button>	<br>

	      		</h4>
	      </div>

	      <!-- Column 3 -->
	      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

	      		<div *ngIf = 'appointments_flag; else elseBlock'>
		      		<h5 style="margin-top: 70px">
		      			No appointments available
		      		</h5>	
	      		</div>	

      			<ng-template #elseBlock>
	      	 	<div id='container'>
	      	 		<nav>
	      	 		<ul> 
					<li *ngFor = 'let details of appointments'>

						<h5> {{details.reference}} : {{details.position}} </h5>

					</li> 
				</ul>
				</nav>
				</div>
				</ng-template>

	      </div>

    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    </div>


</div>