input{
	text-align: center;
    margin-left: 583px;
}

button {
    border: none;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 615px;
    margin-top: 10px;
}

label {
        margin-left: 583px;
}