.navbar{
	background-color: rgba(0,153,76,0.5);
	border-bottom: 1px solid #dedede;
	font-family: 'Alegreya Sans', sans-serif;
}

.navbar .nav .nav-item .nav-link {
	color: rgb(101,127,95);
}

.navbar .nav .nav-item .nav-link:hover {
	color:rgb(102,255,102);
}