.navbar{	/*Transparency of Navbar*/
	background-color: rgba(0,150,136,0.5);
	border-bottom: 1px solid #dedede;
	font-family: 'Alegreya Sans', sans-serif;
}

.navbar .nav .nav-item .nav-link {	/* Color of Navbar Items */
	/*color: rgb(101,127,95); */
	color: #000;
}

.navbar .nav .nav-item .nav-link:hover { /* Color change on hovering over the navbar items*/
	color:rgb(255,167,38);
}

a{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}