<div class="navbar-fixed nav-extended">
    <nav class="grey darken-2">
        <div class="nav-wrapper">
            <div class="hide-on-small-only">
                <a href="#!" class="brand-logo center"><i class="material-icons">queue</i>EasyWait</a>
            </div>

            <ul class="right">
                <li><a routerLink="/customers">CUSTOMER</a></li>
                <li><a routerLink="/vendor">VENDOR</a></li>
                <li><a routerLink="/profile">PROFILE</a></li>
            </ul>
        </div>

        <div class="nav-content">
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal pulse left left-align" routerLink="/about">
                <i class="material-icons">home</i>
            </a>
        </div>
    </nav>
</div>
