<nav class="navbar navbar-fixed-top">

	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navigation" (click) = "toggleState()">

		        &#9776;

	</button>

	<!--<a class="navbar-brand float-xs-right float-sm-left" href='#'><img class='img-fluid' src='assets/app_icon.png'/></a> -->

	<div class="collapse navbar-toggleable-xs" id="navigation"
		[ngClass] = "{ 'in' : isIn }">
	    <ul class="nav navbar-nav float-sm-right">
	    
	        <li class="nav-item">
	            <a class="nav-link" href="#customer">ABOUT</a>
	        </li>

	        <li class="nav-item">
	            <a class="nav-link" href="#vendor">CUSTOMERS</a>
	        </li>

	        <li class="nav-item">
	            <a class="nav-link" href="#about">VENDORS</a>
	        </li>

	    </ul>  
	</div>

</nav>
