input{
	text-align: center;
    margin-left: 583px;
}

button {
    border: none;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 615px;
    margin-top: 10px;
}

label {
<<<<<<< HEAD
        margin-left: 584px;
        text-align: center;
=======
    margin-left: 583px;
    text-align: center;
>>>>>>> 30b793c25c3973fdad98d19ae28d3b596c5fa2db
}
