<app-navigation-bar></app-navigation-bar>
<app-queue-status></app-queue-status>
<hr>
<app-sign-up></app-sign-up>
<hr>
<app-sign-in></app-sign-in>
<hr>
<app-create-queue></app-create-queue>
<hr>
<app-list-of-queues></app-list-of-queues>
<hr>
<app-move-to-next-position></app-move-to-next-position>
<hr>
<app-reset-queue-position></app-reset-queue-position>
<hr>
<app-queue-current-state></app-queue-current-state>
<hr>
<app-appointment-administration></app-appointment-administration>
<hr>
<app-book-appointment></app-book-appointment>
<hr>
<app-revive-appointments></app-revive-appointments>
<hr>
<app-cancel-appointment></app-cancel-appointment>
<hr>
<app-get-set-preferences></app-get-set-preferences>
<hr>