h1{
    margin-top: 60px;
}

input{
	text-align: center;
    placeholder: "Enter text here";
}

button {
    border: none;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

label {
        text-align: center;
}