<div class="row">

    <br><br><br>

    <div class="row">
        <div class="col s12 m4 l2"></div>

        <div class="col s12 m4 l8">
            <div class="chip hoverable amber">Queue</div>
            <div class="chip hoverable amber">Status</div>
            <div class="chip hoverable amber">Customer</div>
            <div class="chip hoverable amber">Help</div>
            <div class="chip hoverable amber">Booking</div>

            <br>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 l2"></div>

        <div class="col s12 m4 l8">
            <div class="row">
                <div class="col s12">
                    <div class="card hoverable">
                        <div class="card-content black-text center-align">
                            <span class="card-title">Search a Queue</span>

                            <div class="input-field col s12 hoverable">
                                <i class="material-icons prefix">search</i>
                                <input class="form-control icon_prefix" type="number" [(ngModel)]="queue_id" placeholder="Queue ID" (keyup.enter)="onKeyUp()">
                            </div>

                            <br><br><br>
                        </div>

                        <div class="card-action right-align">
                            <button type="submit" class="btn btn-success hoverable" (click)="onClick()">Search</button><br>



				<!-- <div *ngIf = 'load_component' align="center"> -->
				<!--     <app-display-queue-status  -->
				<!--      -->
				<!--     [queue_position] = 'queue_position'  -->
				<!--     [queue_id] = 'queue_id'  -->
				<!--     [accepting_appointments] = 'accepting_appointments'  -->
				<!--     [appointments] = 'appointments' -->
				<!--     [appointments_flag] = 'appointments_flag' -->
                <!--  -->
				<!--     > -->
				<!--          -->
				<!--     </app-display-queue-status> -->
				<!-- </div> -->
                            <div *ngIf='load_component' align="center">
                                <app-display-queue-status [queue_position]='queue_position' [queue_id]='queue_id' [accepting_appointments]='accepting_appointments' [appointments]='appointments' [appointments_flag]='appointments_flag'>

                            <div *ngIf='load_component' align="center">
                                <app-display-queue-status 
                                
                                [queue_position]='queue_position' 
                                [queue_id]='queue_id' 
                                [accepting_appointments]='accepting_appointments' 
                                [load_component]='load_component'
                                [queue_name]='queue_name'>


                                </app-display-queue-status>
                            </div>

                            <label id='queue_pos'></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l2"></div>
    </div>
</div>







<!--  -->
<!--  -->
<!-- <div style="background: null;" align="center" id="queue_status"> -->
<!--  -->
<!--  -->
<!--         <h3 style="color: #546e7a;">Stop Waiting! </h3>  -->
<!--         <h3 style="color:  #ffff;">Search your Queue...</h3> -->
<!--  -->
<!--             <div class="form-inline"> -->
<!--                 <input class = "form-control" type="number" [(ngModel)] = "queue_id" placeholder="Queue ID" (keyup.enter)="onClick()"> -->
<!--  -->
<!--                 <button type="submit" class="btn btn-success" (click)="onClick()">Search</button>	<br> <br> <br> <br> -->
<!--                 <div *ngIf = 'load_component' align="center"> -->
<!--                     <app-display-queue-status  -->
<!--                      -->
<!--                     [queue_position] = 'queue_position'  -->
<!--                     [queue_id] = 'queue_id'  -->
<!--                     [accepting_appointments] = 'accepting_appointments'  -->
<!--                     [appointments] = 'appointments' -->
<!--                     [appointments_flag] = 'appointments_flag' -->
<!--  -->
<!--                     > -->
<!--                          -->
<!--                     </app-display-queue-status> -->
<!--                 </div> -->
<!--  -->
<!--             </div> -->
<!--  -->
<!--             <label id = 'queue_pos'></label> -->
<!--  -->
<!--  -->
<!-- </div>  -->
<!--  -->