<div align="center" id="queue_status">

	<body>

		<h3 style="color: #546e7a;">Stop Waiting! </h3> 
		<h3 style="color:  #ffa726;">Search your Queue...</h3>

		<div class="form-inline">
			<input class = "form-control" type="number" [(ngModel)] = "queue_id" placeholder="Queue ID" (keyup.enter)="onKeyUp()">

			<button type="submit" class="btn btn-success" (click)="onClick()">Search</button>	<br> <br> <br> <br>
			
			<div *ngIf = 'load_component'>
				<app-display-queue-status></app-display-queue-status>
			</div>

		</div>

		<label id = 'queue_pos'></label>

	</body>

</div> 

